// @import "reset";

$FontSize: 25px;
$FontFamily: "Courier New", Courier, monospace;
$TextColor: white;

#bodyCreateTask {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
}

@mixin BorderRadius($rad) {
  border-radius: $rad;
}

@mixin Btn($color) {
  text-align: center;
  width: 253px;
  height: 70px;
  margin-top: 25px;
  @include BorderRadius(20px);
  background-color: $color;
  margin-left: 140px;
  color: $TextColor;
  font-size: $FontSize - 2;
}

#createTask {
  background-color: gray;
  color: aliceblue;
  font-family: $FontFamily;
  font-size: $FontSize;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
}
.main {
  width: 600px;
  // height: 450px;
  color: $TextColor;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: $FontFamily;
  flex: 1;

  .form {
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgba(153, 193, 216, 255);
    height: 650px;
    background-image: linear-gradient(
      180deg,
      rgba(147, 189, 213, 255),
      rgba(182, 214, 232, 255)
    );
    label {
      font-size: $FontSize;
    }
    input {
      padding-left: 20px;
      font-size: $FontSize;
      margin: 10px 0;
      width: 560px;
      height: 53px;
      @include BorderRadius(10px);
      border-style: none;
      box-sizing: border-box;
    }
    textarea {
      resize: none;
      padding-left: 20px;
      font-size: $FontSize;
      margin: 10px 0;
      width: 560px;
      height: 150px;

      @include BorderRadius(10px);
      border-style: none;
      box-sizing: border-box;
    }

    .Btn_OK {
      @include Btn(gray);
    }
  }
  // .Btn_Error {
  //   @include Btn(red);
  // }
}
.footer {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  padding: 20px;
}
