$FontSize: 25px;
$FontFamily: "Courier New", Courier, monospace;

html,
body {
  margin: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

Header {
  background-color: gray;
  color: aliceblue;
  font-family: $FontFamily;
  font-size: ($FontSize)-5px;
  width: 100%;
  height: 150px;
  text-align: center;
  #linkToCreatePage {
    width: 150px;
    margin: auto;
    #addTaskBtn {
      // background-color: blue;
      width: 150px;
      height: 40px;
      font-family: $FontFamily;
      font-size: ($FontSize)-8px;
    }
    #addTaskBtn:hover {
      background-color: red;
    }
  }
  // a {
  //   color: aliceblue;
  // }
  // a:hover {
  //   color: red;
  // }
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(20, 20, 20);
  font-family: $FontFamily;
  flex: 1;
  .mainDiv {
    background: rgb(216, 208, 208);
    width: 33%;
    border: 2px solid black;
    padding: 10px;
    height: 250px;
    margin: auto;
    // float: left;
    .Subject {
      text-align: center;
      float: left;
      height: 50px;
      width: 40%;
      font-size: ($FontSize)-5;
      font-family: $FontFamily;
      font-style: normal;
      font-weight: bold;
      margin-bottom: 30px;
      .txtArea {
        width: 100%;
        resize: none;
        font-family: $FontFamily;
        font-size: ($FontSize)-8;
      }
    }
    .Subject2 {
      text-align: center;
      float: left;
      height: 50px;
      width: 40%;
      font-size: ($FontSize)-5;
      font-family: $FontFamily;
      font-style: normal;
      // background-color: aqua;
      font-weight: bold;
      margin-bottom: 30px;
      margin-left: 50px;
    }

    .deadLineTime {
      // margin-top: 20px;
      width: 150px;
      height: fit-content;
      margin-bottom: 20px;
      font-family: $FontFamily;
      font-size: ($FontSize)-6;
    }
    .solution {
      width: 100%;
      float: left;
      .status {
        text-align: center;
        width: 45%;
        padding-left: 5px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        font-weight: 600;
        float: left;
        border: 1px solid black;
      }
      #butnSolution {
        // float: right;
        height: 30px;
        width: 50%;
        margin-left: 5px;
        font-family: $FontFamily;
        font-size: ($FontSize)-10;
        margin-bottom: 20px;
      }
      #butnManage {
        // float: right;
        height: 30px;
        width: 50%;
        margin-left: 5px;
        font-family: $FontFamily;
        font-size: ($FontSize)-10;
        margin-bottom: 20px;
      }
    }
  }
}
footer {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  padding: 20px;
}
.Text,
.status {
  background-color: aqua;
}
.red {
  background: red;
}
.green {
  background: green;
}
